$color-background: #FFFFFF;
$color-section: #F0F1F1;
$color-filter: #FFFFFFC9;
$color-transparent: #00000000;
$text-main: #3C3C3C;
$text-dark: #000000;
$text-placeholder: #3C3C3C26;
$text-lighter: #737373;
$text-alt: #5E5322;
$line: #707070;
$decoration: #1A1818;
$select: #E8E9E4;
$color-action: #FAD648;
