body {
  font-family: $font-base;
  position: relative;
}

a {
  text-decoration: none;

  &:focus {
    outline: 1px solid $text-lighter;
  }
}

button:focus {
  outline: 1px solid $color-section;

}

.decoration {
  width: 253px;
  padding-top: 30px;
}

.main__button {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 36px;
  padding: 15px 0;
  border: 1px solid $text-main;
  color: $text-main;
  width: 310px;
  text-align: center;
  line-height: 45px;
}

.title {
  font-size: 38px;
  color: $text-main;
  text-align: center;
  line-height: 55px;
}